* {
    padding: 0;
    margin: 0;
    font-family:"Jost",sans-serif;
  }
  
  body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,185,221,0.8659663694579394) 0%, rgba(251,255,255,1) 0%, rgba(0,212,255,1) 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
  html,
  body {
    height: 100%;
  }
  
  html {
    background: rgb(236, 236, 236);
  }
  .inputData{
    margin-top:1em;
    margin-left:4em;
  }
  input{
    border-radius:10px;
    border-color:black;
    height:30px;
    padding-right:30px;
    font-family:"Jost",sans-serif;
    font-weight: bold;
    border-style: solid;
  }
  .tag h1{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    font-size:40px;
    color: rgba(27, 26, 26, 0.699);

  }
  button{
    border-radius:50%;
    width:30px;
    cursor: pointer;
    background-color: #ebf3f5;
    font: 1em sans-serif;
    font-weight: bolder;
    margin-left:5px;
    height:30px;
    border-color: black;
    border-style: solid;
  }
  .weathercon {
    margin-top: 70px;

  }
  .fas {
    margin-right: 20px;
  }
  
  .box {
    width:25vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgb(107, 230, 230);
    background-color: rgb(171, 248, 248);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 200px;
    min-height: 450px;
    margin-left:45px;
  }
  
  .wave {
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
  }
  
  .box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  
  .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
  }
  
  .location {
    text-align: center;
    font-weight: 800;
  }
  
  .temp {
    margin-top: 10%;
    text-align: center;
  }
  .tempmin_max{
    margin-top: 10%;
    text-align: center;
  }
  .error_msg{
    margin-top: 10%;
    text-align: center;
    font-size: 25px;

  }
  
  .weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
  
  @media (max-width: 600px) {
    .box {
      width: 90vw;
      height: 80vh;
    }
  
    .wave {
      top: 85%;
    }
  
    .weathercon {
      font-size: 5em;
    }
  
    .info {
      font-size: 1.5rem;
    }
    .inputData{
      margin-top:1em;
      margin-left:4em;
    }
    input{
      border-radius:10px;
      border-color:black;
      height:30px;
      padding-right:30px;
      font-family:"Jost",sans-serif;
      font-weight: bold;
      border-style: solid;
    }
    button{
      border-radius:50%;
      width:30px;
      cursor: pointer;
      background-color: #ebf3f5;
      font: 1em sans-serif;
      font-weight: bolder;
      margin-left:5px;
      height:30px;
      border-color: black;
      border-style: solid;
    }
  }
  
  @media (max-height: 500px) {
    .box {
      height: 80vh;
    }
  
    .wave {
      top: 115%;
    }
    .inputData{
      margin-top:1em;
      margin-left:4em;
    }
    input{
      border-radius:10px;
      border-color:black;
      height:30px;
      padding-right:30px;
      font-family:"Jost",sans-serif;
      font-weight: bold;
      border-style: solid;
    }
    button{
      border-radius:50%;
      width:30px;
      cursor: pointer;
      background-color: #ebf3f5;
      font: 1em sans-serif;
      font-weight: bolder;
      margin-left:5px;
      height:30px;
      border-color: black;
      border-style: solid;
    }
  }
  
  body > span {
    width: 100vw;
    text-align: center;
    color: grey;
  }